/* common css link for whole website start here  */
body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
.all-header-font-size{
    font-size: 3rem;
}
/* common css link for whole website end here  */
/* header area css start here  */
.header-background{
    background-color: #264653;
    padding-top: 82px;
    padding-bottom: 57px;
    
}
.honda-header-sizing{
    font-size: 3rem;
}
.header-text-color{
    /* color: #E0E0E0; */
}
.edit-button{
    font-size: 16px;
    background-color:#E76F51;
    width: 168px;
    height: 44px;
}
.hedaer-img-margin{
    margin-top: 53px;
}
/* header area css end here  */
/* feature section css start here  */
.feautre-container-edit{
    padding:78px 0px;
}
.feature-header{
    /* font-size: 3rem; */
}
.feature-text{
    font-size: 14px;
    color: #E76F51;
}
.hunda-img-area{
    margin-top: 4.5rem;
}
.hunda-gray-scale{
    filter: grayscale(80%);
}
/* feature section css start here  */
/* clint section css start here  */
.clint-header-color{
    color: #E76F51;
}
.customer-comment-margin{
    margin-top: 52px;
}
.clint-cart-edit{
    padding: 40px 35px;
}
.clint-img-edit{
    width: 149px;
    height: 149px;
}
.clint-comment{
    font-size: 1rem;
    color: #6C6C6C;
}
.customer-icon{
   font-size: 25px;
   color: #E77C40;;
}
.clint-name-edit{
    font-size: 14px;
}
/* clint section css end here  */
/* question section start here  */
.question-area{
    margin: 112px 0px;
}

.question-accordion-header{
    font-size: 20px;
    color: #383838;
    line-height: 28px;
}
.accordion-text{
    font-size: 16px;
    line-height: 28px;
    color: #7E848C;
}

/* question section end here  */